@font-face {
    font-family: "FZZYJW";
    src: url("FZZYJW.woff?t=1536198708view") format("woff"), /* chrome, firefox */ url("FZZYJW.ttf?t=1536198708view") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url("FZZYJW.svg?t=1536198708view#FZZYJW") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
/*
@font-face {
    font-family:"FZZYJW";
    src: url("FZZYJW.eot?t=1536198708view"); IE9
    font-style: normal;
    font-weight: normal;
} */
